* {
    padding: 0;
    margin: 0;
    font-family: arial;
}

label,input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
}

h2 {
    text-align: center;
}

form {
    width: 330px;
    background: rgba(0, 0, 0, .2);
    padding: 20px;
    margin: 45px auto;
}

input[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
}

#esquerda {
    width: 35%;
    height: 500px;
    float: left;
}

#direita {
    width: 65%;
    height: 500px;
    float: right;
}

table {
    background: rgba(0, 0, 0, .2);
    width: 90%;
    margin: 45px auto;
}

tr{
    line-height: 30px;
    text-align: center;
}
th {
   font-weight: bold; 
   background: rgba(0, 0, 0, .6);
   color: white;
}

td {
    padding: 0px 5px;
    border: 1px solid black;
}

a {
    background: rgb(245, 240, 240);
    padding: 4px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}

a:first-child {
    margin: 0 12px 0 0;
}